.movimiento {
    padding:300px;
    font:bold 10px/10px verdana;
    width: 500px;
    cursor:pointer;
    cursor:hand;
    text-align:center;
    }
    
.btn--movimiento {
    position:absolute;
    left: 100%;   
}

body {
    text-align: center;
}

.bg-img {
    background-image: url("imagenes/fondo.jpg");
    min-height: 1000px;
}